__pycache__/
*.pyc
*.pyo
.venv/
venv/
node_modules/
dist/
.env
.env.local
.env.production
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
uploads/
backend/firebase_credentials.json
backend/.env
frontend-user/.env
frontend-vendor/.env
frontend-admin/.env
# Envs
.env
.env.*
!.env.example
