MONGODB_URL=mongodb://localhost:27017/proximart
MONGO_TEST_DB=proximart_test
JWT_SECRET=
JWT_ALGORITHM=HS256
AES_SECRET_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
GOOGLE_MAPS_API_KEY=
FIREBASE_CREDENTIALS_JSON=
FRONTEND_USER_URL=http://localhost:5173
FRONTEND_VENDOR_URL=http://localhost:5174
FRONTEND_ADMIN_URL=http://localhost:5175
